@import "tailwindcss";

body {
  background-image: url("/Assets/background/bg5.jpg");
  background-color: #0B1D3A;
  color: #AFC1DD;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}

h1 {
  color: #F1F5FF;
  font-weight: bold;
}

h2 {
  color: #CAD6F6;
}

h3 {
  color: #90B4F8;
}

p {
 color: #AFC1DD;
}

