@import "tailwindcss";

body {
  background-image: url("/Assets/Background/background.jpg");
  background-size: full;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}